<header id="header" class="header">
    <a href="/" class="logo"><img src="/pics/logo.png" id="logopic"></a>

    <ul class="navlist">
            <li><a href="/">Home</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/blogs">Blogs</a></li>
    </ul>
    
    <ul class="sign">
        <% user = JSON.parse(user) %>
        <% if (user) { %>
            <div class="user-account">
                <img src="/pics/stray1.jpg" alt="User Profile Picture" id="user-profile-pic" onclick="toggleModal()">
                <p class="username" onclick="toggleModal();" id="username">
                    <%= user.username %>
                    <i class="fa-solid fa-caret-down" id="dropdown-arrow"></i>
                </p>
            </div>
        
            <div class="bx bx-menu" id="menu-icon">
            </div>
        
            <!------------dropdown when profile is clicked-------------->
            <div id="profile-modal" class="profile-popup">
                <div class="profile-dropdown">
                    <button class="profile" onclick="location.href='/profile/<%= user._id %>'">Profile</button>
                    <!-- should check if the user is an admin -->
                    <% if (user.role == 'admin') { %> <button class="profile" onclick="location.href='/admin/<%= user._id %>'">Dashboard</button> <% } %>
                    <button class="logout-button" onclick="location.href='/logout'">Log Out</button>
                </div>
            </div>
        <% } else { %>
            <li><button class="user_auth" onclick="openPopup('signin-popup')">Sign Up</button></li>
            <li><button class="modal user_auth" onclick="openPopup('login-popup')">Sign In</button></li>
        <% } %>
    </ul>

    <div class="bx bx-menu" id="menu-icon">
    </div>

    <!-- Pop-up for sign up -->
    <div id="signin-popup" class="popup">
        <div class="popup-content" id="popup-content">
            <span class="close" onclick="closePopup('signin-popup')">&times;</span>

            <form action="/signup" method="POST">
                <img src="pics/icon.png">
                <h3>Sign Up to MeowgAw</h3>

                <div class="inputs">
                    <input type="hidden" name="role" value="user">
                    <label for="username">Username</label><br>
                    <div class="input-container">
                        <i class='icon bx bx-user'></i>
                        <input type="text" id="username" name="username" required><br>
                    </div>

                    <label for="email">Email Address</label><br>
                    <div class="input-container">
                        <i class='icon bx bx-envelope'></i>
                        <input type="email" id="email" name="email" required><br>
                    </div>

                    <label for="password">Password</label><br>
                    <div class="input-container">
                        <i class='icon bx bx-lock-alt'></i>
                        <input type="password" id="password" name="password" onkeyup="
                        handleOnKeyUp('password', event);
                        " required><br>
                    </div>

                    <!--dropdown for color----> 
                    <label for="faveColor">Favorite color</label><br>
                    <div class="input-container">
                        <select class="favcolor" name="faveColor" id="favcolor">
                            <option value="red">Red</option>
                            <option value="orange">Orange</option>
                            <option value="yellow">Yellow</option>
                            <option value="green">Green</option>
                            <option value="blue">Blue</option>
                            <option value="indigo">Indigo</option>
                            <option value="violet">Violet</option>
                        </select>
                    </div>

                    <!--birthplace---->
                    <label for="birthplace">Birth place:</label><br>
                    <div class="input-container">
                        <i class='icon bx bx-building-house'></i>
                        <input type="text" class="birthPlace" id="birthPlace" name="birthplace" required><br>
                    </div>

                    <label for="repassword">Re-enter Password</label><br>
                    <div class="input-container">
                        <i class='icon bx bx-lock' ></i>
                        <input type="password" id="repassword" name="repassword" onkeyup="
                        handleOnKeyUp('repassword', event);
                        " required><br> 
                    </div>
                </div>
                <p class="warning hide-warning">Password and repassword do not match!</p>

                <button type="submit" class="submit">Sign Up</button>
                <p class="reminder">By clicking "Sign Up", I understand and agree to the MeowgAw's collective 
                <a href="">Terms</a>, <a href="#">Terms of Use</a>, and <a href="#">Privacy Policy</a>.</p>

                <p class="alternate">Already have an account? <button onclick="switchPopup('signin-popup', 'login-popup')">Log in<button></p>
            </form>
        </div>
    </div>

    <!-- Pop-up for log in -->
    <div id="login-popup" class="popup">
        <div class="popup-content" id="popup-content">
            <span class="close" onclick="closePopup('login-popup')">&times;</span>
            <form id="login-form" action="/signin" method="POST">
                <img src="pics/icon.png">
                <h3>Sign into MeowgAw</h3>

                <div class="inputs">
                    <label for="username">Username</label><br>
                    <div class="input-container">
                        <i class='icon bx bx-user'></i>
                        <input type="text" class="usernameSi" id="username" name="username" required><br>
                    </div>

                    <label for="email">Email Address</label><br>
                    <div class="input-container">
                        <i class='icon bx bx-envelope'></i>
                        <input type="email" class="emailSi" id="email" name="email" required><br>
                    </div>
                    <div class="email error" id="warning"></div>

                    <!--dropdown for color---->
                    <label for="faveColor">Favorite color</label><br>
                    <div class="input-container">
                        <select class="favcolor" name="faveColor" id="favcolor">
                            <option value="red">Red</option>
                            <option value="orange">Orange</option>
                            <option value="yellow">Yellow</option>
                            <option value="green">Green</option>
                            <option value="blue">Blue</option>
                            <option value="indigo">Indigo</option>
                            <option value="violet">Violet</option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="faveColor error" id="warning"></div>

                    <!--birthplace---->
                    <label for="birthplace">Birth place:</label><br>
                    <div class="input-container">
                        <i class='icon bx bx-building-house'></i>
                        <input type="text" class="birthPlace" id="birthPlace" name="birthplace"><br>
                    </div>
                    <div class="birthplace error" id="warning"></div>

                    <label for="password">Password</label><br>
                    <div class="input-container">
                        <i class='icon bx bx-lock-alt'></i>
                        <input type="password" class="passwordSi" id="password" name="password" required><br>
                    </div>
                    <div class="password error" id="warning"></div>
                </div>
                <p class="warning signin-warning hide-warning">Password and email do not match!</p>
                

                <button type="submit" class="submit">Sign In</button>
                <a href="#" class="forgot">Forgot Password?</a>
                <p class="alternate">Doesn't have an account yet? <button onclick="switchPopup('login-popup', 'signin-popup')">Sign Up</button></p>
            </form>
        </div>
    </div>
</header>
