<footer id="footer">
    <div class="footer">

        <div class="column">
            <a href="index.html" id="logopic"><img src="pics/logo2.png" id="logopic"></a>
            <p>Find your furry soulmate.</p>
        </div>

        <div class="column">
            <h2>About Us</h2>
            <ul>
                <li><a href="#">Team Members</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Vision</a></li>
            </ul>
        </div>

        <div class="column">
            <h2>Resources</h2>
            <ul>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Partnerships</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>

        <div class="column">
            <h2>Browse</h2>
            <ul>
                <li><a href="#">All Strays</a></li>
                <li><a href="#">Cats</a></li>
                <li><a href="#">Dogs</a></li>
                <li><a href="#">Donation Information</a></li>
            </ul>
        </div>

        <div class="column">
            <h2>Adopt or Get involved</h2>
            <ul>
                <li><a href="#">All About Cats</a></li>
                <li><a href="#">All About Dogs</a></li>
                <li><a href="#">Adopting Pets</a></li>
            </ul>
        </div>

    </div>
    <p class="copyright">MeowgAw. All Rights Reserved © 2023. K<sup>2</sup>MJS</p>
</footer>