<footer id="footer">
    <div class="footer">

        <div class="column">
            <a href="/" id="logopic"><img src="/pics/logo2.png" id="logopic"></a>
            <p>Find your furry soulmate.</p>
        </div>

        <div class="column">
            <h2>About Us</h2>
            <ul>
                <li><a href="/about#membersContent">Team Members</a></li>
                <li><a href="/about#missionContent">Mission</a></li>
                <li><a href="/about#visionContent">Vision</a></li>
            </ul>
        </div>

        <div class="column">
            <h2>Resources</h2>
            <ul>
                <li><a href="/faqs">FAQs</a></li>
                <li><a href="/about#contact-us">Contact Us</a></li>
                <li><a href="/donate">Donation Information</a></li>
            </ul>
        </div>

        <div class="column">
            <h2>Browse</h2>
            <ul>
                <li><a href="/gallery">All Strays</a></li>
                <li><a href="/blogs">Adopting Pets</a></li>
                <li><a href="/blogs">All About Pets</a></li>
            </ul>
        </div>

        <div class="column">
            <h2>Policies</h2>
            <ul>
                <li><a href="https://lawphil.net/statutes/repacts/ra1998/ra_8485_1998.html">Animal Welfare Act</a></li>
                <li><a href="https://lawphil.net/statutes/repacts/ra2007/ra_9482_2007.html">Anti-Rabies Act</a></li>
            </ul>
        </div>

    </div>
    <p class="copyright">MeowgAw. All Rights Reserved © 2023. K<sup>2</sup>MJS</p>
</footer>