<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/errorstyle.css">
	<title>500 error</title>
</head>

<body>

	<div class="error-wrap-container">

		<div class="server-error-wrap">
			<img class="server-error-img" src="assets/img/catto.png">

			<div class="server-error-text">
				<h2>500 SERVER ERROR</h2>
				<p>Oops, something went wrong.</p>
				<p>Try to refresh this page or if the problem persists try to contact us.</p>
				<button class="server-error-btn">Go back to homepage</button>
			</div>
			<div>
			</div>

</body>

</html>