<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>

  <!-------------web banner/header--------------->
  <%- include('partials/banner.ejs') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs about-container">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1 class="display-3">About Us</h1>
          <ol>
            <li><a href="/">Home</a></li>
            <li>About Us</li>
          </ol>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Mission ======= -->
    <section id="about" class="about section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-12">
            <div class="about-img">
              <img src="assets/img/about/3.jpg" alt="" class="img-fluid">
            </div>
          </div>
                  
          <div class="col-lg-8 col-md-12 col-12 ps-lg-3 mt-md-3">
            <div class="about-text">
              <h2>Our <strong>Mission</strong></h2>
              <p>To improve the lives of stray dogs and cats in our community by providing a comprehensive 
                and compassionate pet adoption platform within our university, 
                connecting these animals with loving, responsible owners, 
                and fostering a culture of empathy and responsible pet ownership.</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- Mission section Ends -->

    <!-- ======= Vision ======= -->
    <section id="about" class="about section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-12 ps-lg-3 mt-md-3">
            <div class="about-text">
              <h2>Our <strong>Vision</strong></h2>
              <p>We envision a future where every stray dog and cat within our university's vicinity finds a safe and loving forever home. 
                Our pet adoption website will be the go-to platform for connecting prospective pet owners with these animals in need, 
                ultimately reducing the stray population and promoting responsible pet ownership. We aim to create a more compassionate 
                and animal-friendly society where every pet finds a loving family, and no pet is left behind.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-12">
            <div class="about-img">
              <img src="assets/img/about/4.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </section><!----- Vision section ends ------>

    <!-- ======= team Section ======= -->
    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Developers</h2>
          <p>The team behind MeowgAw</p>
        </div>

        <div class="row gy-4 justify-content-center">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/members/manejo.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/kizkaze"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/kazeulr/"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Kzlyr Shaira Manejo</h4>
                <span>Developer</span>
                <p>Kzlyr designs and builds the parts of MeowgAw that you see and interact with, like the homepage and gallery. 
                  She uses her skills in HTML, CSS, and JavaScript to create a website that's easy to use and looks great. 
                  Kzlyr's work makes it enjoyable for people to browse Meowgaw and find their perfect furry friend.</p>
              </div>
            </div>
          </div><!-- End Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/members/pelegrino.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/patrick.pelegrino.9"><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href="https://ph.linkedin.com/in/patrick-pelegrino"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Michael Patrick Pelegrino</h4>
                <span>Developer</span>
                <p>Patrick manages both the technical side and the overall progress of MeowgAw as our Backend Developer and Project Manager. 
                  He builds and maintains the behind-the-scenes logic of the website while also overseeing the planning, execution, and delivery of projects. 
                  Patrick's dual role ensures that Meowgaw not only functions smoothly but also progresses efficiently toward achieving our goals.</p>
              </div>
            </div>
          </div><!-- End Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/members/tuando.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/sharahmichelletuando"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/sharahmichelle/"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sharah Michelle Tuando</h4>
                <span>Developer</span>
                <p>Sharah leads our team as the Scrum Master, organizing our work and making sure we stay on track to meet our goals. 
                  She also takes care of documenting our progress and processes, ensuring that everyone has the information they need to work effectively. 
                  Sharah plays a crucial role in keeping our team organized and informed, helping us deliver the best possible results for MeowgAw.</p>
              </div>
            </div>
          </div><!-- End Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/members/tiu.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/justintiu10"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/justinluistiu/"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Justin Luis Tiu</h4>
                <span>Developer</span>
                <p>Justin makes sure that MeowgAw works perfectly by testing everything on the website. 
                  From signing up to filling out adoption forms, he checks for any problems and fixes them. 
                  Justin's job is to ensure that using MeowgAw is easy and enjoyable for everyone looking to adopt a pet.</p>
              </div>
            </div>
          </div><!-- End Member -->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="chef-member">
              <div class="member-img">
                <img src="assets/img/members/vito.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href="https://www.facebook.com/christinakane.vito"><i class="bi bi-facebook"></i></a>
                  <a href="https://www.instagram.com/___kanedy___/"><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ma. Christina Kane Vito</h4>
                <span>Developer</span>
                <p>Kane is also our front-end developer for MeowgAw. 
                  She's also responsible for crafting the look and feel of our pet adoption website. 
                  Kane uses her creativity and coding skills to make sure our website is user-friendly and visually appealing.</p>
              </div>
            </div>
          </div><!-- End Member -->

        </div>
      </div>
    </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>

        <div class="mb-3">
          <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d250956.40928945362!2d121.967157125!3d10.64204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33ae5b8761c629f5%3A0x8b0a8c7844cc30cd!2sUniversity%20of%20the%20Philippines%20Visayas!5e0!3m2!1sen!2sph!4v1698933055009!5m2!1sen!2sph" frameborder="0" allowfullscreen></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-map flex-shrink-0"></i>
              <div>
                <h3>Our Address</h3>
                <p>Universiry of the Philippines - Visayas, Miagao, Iloilo</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>meowgaw@gmail.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p>+63 912 345 6789</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item  d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Opening Hours</h3>
                <div><strong>Mon-Sat:</strong> 11AM - 23PM;
                  <strong>Sunday:</strong> Closed
                </div>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form p-3 p-md-4"> -->
          <form method="post" class="php-email-form p-3 p-md-4 contact-form" id="contact-form">
            <div class="row">
              <div class="col-xl-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-xl-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit" onclick="contactFormSubmit('#contact-form')">Send Message</button></div>
          </form><!--End Contact Form -->

      </div>
    </section><!-- End Contact Section -->

  </main>

  <!-------------footer--------------->
  <%- include('partials/footer.ejs') %>


  <!--------------scripts-------------->
  <%- include('partials/scripts.ejs') %>

</body>

</html>
