<!DOCTYPE html>

<html lang="en" dir="ltr">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MeowgAw</title> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
		<!---------------favicon----------------->
		<link rel="shortcut icon" type="image/png" href="/pics/icon.png">
		<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
		<link rel= "stylesheet" href="/css/style.css">
		<link rel= "stylesheet" href="/css/userstyle.css">
	</head>

	<body>

		<!-------------header--------------->
		<%- include('./partials/logged/banner.ejs') %>

		<!------------body---------------->
		<div class="container">

			<div class="buttons-container">
				<button class="active" data-content="users">Users</button>
        		<button data-content="strays">Strays</button>
				<button data-content="submissions">Submissions</button>
				<button data-content="donations">Donations</button>
				<button data-content="blogs">Blogs</button>
				<button data-content="faqs">FAQs</button>
				<button data-content="messages">Messages</button>
			</div>

			<div class="content-container" id="content-container">
		        <div id="content-users" class="contentStray active">
		            Content for Users
		        </div>

		        <div id="content-strays" class="contentStray">
		        	<button class="add-stray" onclick="location.href='/create'">Add a Stray</button>
		        </div>
		        
		        <div id="content-submissions" class="contentStray">
		            Content for submissions
		        </div>

		        <div id="content-donations" class="contentStray">
		            Content for donations
		        </div>

		        <div id="content-blogs" class="contentStray">
		            Content for blogs
		        </div>

		        <div id="content-faqs" class="contentStray">
		            Content for faqs
		        </div>

		        <div id="content-messages" class="contentStray">
		            Content for messages
		        </div>
		    </div>
		</div>

		<!--------------scripts-------------->
		<script src="https://unpkg.com/scrollreveal"></script>
		<script src="/js/sliderscript.js"></script>
		<script src="/js/script.js"></script>
		<script src="/js/userscript.js"></script>

	</body>
</html>