<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    <style>
        /* input{
            display: none;
        } */
    </style>
<body>
    
    <header id="header" class="header">
        <a href="index.html" class="logo"><img src="pics/logo.png" id="logopic"></a>

        <div class="admin-searchBar">
            <input type="search" placeholder="Search...">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>


        <div class="user-account">
             <img src="pics/stray1.jpg" alt="User Profile Picture" id="user-profile-pic" onclick="openPopup()">
             <p class="username" onclick="openPopup()">Username</p>
        </div>

    </header>
    
    <div class="create-wrapper">
        <div class="create-content">
            <!--<div class="create-stray content">-->
            <h2>Surrender/sumbit a stray</h2>
            <div class="create-stray">
                <form action="/create" method="POST" enctype="multipart/form-data">
                    <label for="name">name:</label>
                    <input type="text" id="name" name="name" required>
                    <label for="input-file">Upload Image</label>
                    <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" name="input-file"><br>
                    <!-- <label for="imgSrc">ImgSrc:</label>
                    <input type="text" id="imgSrc" name="imgSrc" required> -->
                    <label for="age">age:</label>
                    <input type="number" name="age" required>
                    <label for="breed">breed:</label>
                    <input type="text" name="breed" required>
                    <label for="gender">gender:</label>
                    <input type="text" name="gender" required>
                    <label for="animal">animal:</label>
                    <input type="text" name="animal" required>
                    <label for="surrenderDate">surrenderDate:</label>
                    <input type="date" name="surrenderDate" required>
                    <label for="status">status:</label>
                    <input type="text" name="status" required>
                    <label for="story">story:</label>
                    <input type="text" name="story" required>
                    
                    <button>Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>