<!DOCTYPE html>

<html lang="en" dir="ltr">

	<%- include('partials/head.ejs') %>

	<body>
	<!-------------web banner/header--------------->
		<%- include('partials/banner.ejs') %>

 		<!-------------Donation--------------->
		 <div class="donate">
			<div class="wrapper1">
				<div class="donate-text">
					<h1>Donate Now</h1>
					<p class="intro">MeowgAw is not only a pet-adoption site, but a non-profit organization dedicated to the well-being of stray animals at UP Visayas. Our mission is to contribute positively to the lives of abandoned, abused, injured, and neglected animals in the locality. However, this is only possible with people like you, who share our love for animals.</p>
					<div class="wrapper">
						<div class="container">
							<span class="num" data-val="2000">0000</span>
							<span class="text">Rescued Animals</span>
						</div>
						<div class="container">
            				<span class="num" data-val="120000">000000</span>
            				<span class="text">Weekly Expenses</span>
        				</div>
    				</div>
    				<p class="outro">Every contribution matters, no matter how big or small. Your donations go directly toward the care and well-being of our rescued furry friends. There's nothing more rewarding than seeing these animals smile and sleep soundly after a good meal, knowing that you've played a part in their journey to a better life.</p>
				</div>
				<div class="donation-form">
					<h2>Advocates for Strays</h2>
					<p class="subtitle">Join us in being an Advocate for Strays and help us give these animals a second chance at a happy and healthy life.</p>
					<form id="msform">
	  				<!-- progressbar -->
	  					<ul id="progress-list">
							<li class="progress-item approved">
								<span class="progress-label">Amount</span>
							</li>
							<li class="progress-item approved">
								<span class="progress-label">My Info</span>
							</li>
							<li class="progress-item approved">
								<span class="progress-label">Payment</span>
							</li>
							<li class="progress-item current-item">
								<span class="progress-label">Confirm</span>
							</li>
						</ul>
					</form>
					<div class="my-info"></div>
						<form>
							<a href="donate-payment.html" class="back">< Back to Payment</a> 
							<div class="confirm">
    						<div class="receipt">
    							<h2>Payment Confirmation</h2>
      							<div class="receipt-row">
        							<span class="receipt-label">Amount:</span>
        							<span class="receipt-value">₱1000</span>
      							</div>
      							<div class="receipt-row">
        							<span class="receipt-label">Date:</span>
        							<span class="receipt-value">October 23, 2023</span>
     							</div>
      							<div class="receipt-row">
        							<span class="receipt-label">Receipt No:</span>
        							<span class="receipt-value">123456</span>
      							</div>
    						</div>
    						</div>
    						<a href="/donate" class="form-submit-btn" onclick="confirmDonation()">CONFIRM</a>
						</form>
					</div>
				</div>
			</div>
		</div>       

		<!-------------footer--------------->
		<%- include('partials/footer.ejs') %>
	
		<!--------------scripts-------------->
		<%- include('partials/scripts.ejs') %>
	</body>
</html>