<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

<body>

  <!-------------web banner/header--------------->
  <%- include('partials/banner.ejs') %>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs about-container">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h1 class="display-3">Shop</h1>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Shop</li>
          </ol>
        </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= shop ======= -->
    <section class="py-5">

      <div class="menu">
        <ul id="menuTabs" class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4 class="shopCategory">All</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-starters">
              <h4 class="shopCategory">Toys</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
              <h4 class="shopCategory">Bowls and Feeders</h4>
            </a>
          </ii><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
              <h4 class="shopCategory">Accessories</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
              <h4 class="shopCategory">Care and Health Supplies</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>
      </div>

      <div class="container px-4 px-lg-5 mt-5" id="shopItemsContainer">

        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">

        <!---items added dynamically-->

        </div>
      </div>

    </section>

  </main>
  
  <!-------------footer--------------->
  <%- include('partials/footer.ejs') %>


  <!--------------scripts-------------->
  <%- include('partials/scripts.ejs') %>

</body>

</html>