/***************blogs*********************/

.blogs-reveal{
    height: 100%;
	padding-top: 55px;
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(245.59deg, #ffdcd1 0%, #f1c5b7 28.53%, #a96357 75.52%);
	align-items: center;
	gap: 2rem;
	color: white;
}
.blogs-content h1{ 
	color:rgba(85, 111, 100, 1);
	width:842px;
	height:62px;
	position:absolute;
	margin-left: 400px;
	margin-top:38px;
	font-size: 60px;
	letter-spacing:0;
}
.blogs-content h3{ 
	color:rgba(255, 255, 255, 1);
	width:842px;
	height:62px;
	position:absolute;
	margin-left:280px;
	margin-top:130px;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.vid0 {
	position:absolute;
	margin-left:420px;
	margin-top:190px;
}
.vid0:hover{
	transform: scale(1.1);
	filter: brightness(1.2);
}
.chapter0 h3{
	color:rgba(255, 255, 255, 1);
	position:absolute;
	margin-left:535px;
	margin-top:525px;
	font-size:20px;
	letter-spacing:0;
}
.vid1 {
	position:absolute;
	margin-left:60px;
	margin-top:160px;
}
.vid1:hover{
	transform: scale(1.1);
	filter: brightness(1.2);
}
.chapter1 h3{
    color:rgba(255, 255, 255, 1);
	position:absolute;
	margin-left:78px;
	margin-top:320px;
	font-size:12px;
	letter-spacing:0;
}
.vid2{
	position:absolute;
	margin-left:60px;
	margin-top:370px;
}
.vid2:hover{
	transform: scale(1.1);
	filter: brightness(1.2);
}
.chapter2 h3{
    color:rgba(255, 255, 255, 1);
	position:absolute;
	margin-left:90px;
	margin-top:530px;
	font-size:12px;
	letter-spacing:0;
}
.vid3{
	position:absolute;
	margin-left: 1070px;
	margin-top:160px;
}
.vid3:hover{
	transform: scale(1.1);
	filter: brightness(1.2);
}
.chapter3 h3{
    color:rgba(255, 255, 255, 1);
	position:absolute;
	margin-left: 1100px;
	margin-top:320px;
	font-size:12px;
	letter-spacing:0;
}
.vid4 {
	position:absolute;
	margin-left: 1070px;
	margin-top:370px;
}
.vid4:hover{
	transform: scale(1.1);
	filter: brightness(1.2);
}
.chapter4 h3{
    color:rgba(255, 255, 255, 1);
	position:absolute;
	margin-left: 1110px;
	margin-top:530px;
	font-size:12px;
	letter-spacing:0;
}
