.checkout-section {
    background-color: #f8f9fa; 
    padding: 30px; 
    margin-top: 30px; 
    margin-left: 30px;
  }

.form-check{
    margin-left: 20px;
}

.payment-method{
    margin-top: 20px;
}

.payment-deets{
    margin-top: 20px;
}

.checkout-section .btn-primary {
    background-color: #566f64;
    border: none;
  }   

.checkout-section .btn-primary:hover {
    background-color: #ccc; 
    color: #566f64; 
}