/***FAQ***/

.faq {
    display: flex;
    align-items: center;
    height: 800px;
    background: #EFAFAF;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    white-space: normal;
    overflow: auto;
    background: linear-gradient(245.59deg, #ffdcd1 0%, #f1c5b7 28.53%, #a96357 75.52%);
    
}

.faq::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.FAQs{
	 color: var(--darkgreen);
	 font-size: 50px;
	 font-weight: bold;
	 position:fixed;
	 left:18%;
	 width:800px;
	 position: absolute;
	}

.faq-list {
  background-color:transparent;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 20px;
  transition: 0.4s;
  color: white;

}

.active, .faq-list:hover {
  opacity: 0.5;
}

.faq-list:after {
  content: '\2304';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;

}

.active:after {
  content: "\2303";

}

.panel {

  font-size: 15px;
  padding: 0 18px;
  background-color: transparent;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: white;

}