/* Colors */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

:root {
  --color-default: #212529;
  --color-primary: #566f64;
  --color-secondary: #a96357;
}

:root {
    --darkpink: #a96357;
    --pink: #f1c5b7;
    --lightpink: #ffdcd1;
    --darkgreen: #566f64;
    --darkergreen: #3e534a;
    --green: #6d897a;
    --lightgreen: #a6d0ac;
}

.about-container{
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #ffafc0;
}

.aboutImg{
  height: 250px;
  width: 400px;
  object-fit: cover;
}