.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image-container img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

/* ======= Donate Now Section ======= */
#donate-now {
    padding: 60px 0;
  }
  
  #donate-now h1 {
    font-size: 42px;
    font-weight: 700;
    color: #333;
  }
  
  #donate-now p.lead {
    font-size: 18px;
    line-height: 1.8;
    color: #666;
  }
  
  /* ======= Donate Options ======= */
  #donate-options {
    padding: 60px 0;
    margin-bottom: 20px;
  }
  
  #donate-options .card {
    background: #f9f9f9;
    border: none;
    padding: 30px;
  }
  
  #donate-options .card h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }
  
  #donate-options .card p {
    font-size: 16px;
    line-height: 1.8;
    color: #666;
  }

  #donate-options .btn-primary {
    background-color: #566f64;
    border: none;
  }   

  #donate-options .btn-primary:hover {
    background-color: #ccc; 
    color: #566f64; 
}
  
  /* ======= Cats & Dogs Wish List Section ======= */
  #cats-dogs-wishlist {
    padding: 60px 0;
  }
  
  #cats-dogs-wishlist .section-title h2 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
  }
  
  #cats-dogs-wishlist p {
    font-size: 16px;
    line-height: 1.8;
    color: #666;
  }
  
  #cats-dogs-wishlist ul {
    padding-left: 20px;
  }
  
  /* ======= Shelter Wish List Section ======= */
  #shelter-wishlist {
    padding: 60px 0;
  }
  
  #shelter-wishlist .section-title h2 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
  }
  
  #shelter-wishlist p {
    font-size: 16px;
    line-height: 1.8;
    color: #666;
  }
  
  #shelter-wishlist ul {
    padding-left: 20px;
  }
