/* Colors */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Amatic SC", sans-serif;
  --font-secondary: "Inter", sans-serif;
}

:root {
  --color-default: #212529;
  --color-primary: #566f64;
  --color-secondary: #a96357;
}

:root {
    --darkpink: #a96357;
    --pink: #f1c5b7;
    --lightpink: #ffdcd1;
    --darkgreen: #566f64;
    --darkergreen: #3e534a;
    --green: #6d897a;
    --lightgreen: #a6d0ac;
}

.gallery-container{
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #ffafc0;
}

.dropdown-toggle {
  font-size: 22px;
  font-weight: bold;
  color: white;
  background: var(--darkgreen);
  font-family: var(--font-primary);
  padding: 5px 20px;
  border-radius: 50px;
  margin-right: 15px;
  transition: 0.3s;
  border: 1px solid transparent;
}

.dropdown-toggle:focus:hover,
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  border: 1px solid #566f64;
  background: white;
  color: var(--darkgreen);
}

h1{
  font-family: var(--font-primary);
}

/* For screens wider than 850px */
@media screen and (min-width: 850px) {
  .gallery-img {
    width: 100%; 
    height: 180px;
    max-width: 100%;
    object-fit: cover; 
  }
}

/* For screens narrower than 850px */
@media screen and (max-width: 849px) {
  .gallery-img {
    width: 300px; 
    height: 180px; 
    object-fit: cover;
  }
}

/*****inside modal*****/

.gallery-img-modal{
  width: 70rem;
  height: 250px;
  object-fit: cover;
}

/**temperament progress**/
#temperamentProgress{
  width: 320px;
}

.progress-labels {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.progress-labels span {
  color: var(--darkgreen);
  font-size: 12px;
}

progress{
  accent-color: var(--darkpink);
}

/****end of progress bar****/

.adoptButton{
  width: 170px;
  margin: 20px 0px;
  padding: 5px 10px;
  color: white;
  background-color: var(--darkpink);
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  align-self: center;
  border-radius: 20px;
}

.categoryDropdown{
  background: var(--darkgreen);
  color: white;
  font-family: var(--font-secondary);
  font-weight: bold;
  padding: 7px 15px;
  margin: 3px 5px;
  border-radius: 20px;
}

.categoryDropdown:hover{
  border: 1px solid var(--darkgreen);
  color: var(--darkgreen);
  background-color: white;
}

#strayDetailsContent p{
  line-height: 10px;
  font-family: var(--font-secondary);
  font-size: 14px;
}

.adoptionForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  padding-top: 70px;
}

.adoptionForm h3{
  color: var(--darkpink);
}

.adoptionForm form{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 450px;
}

.adoptionForm input{
  border: none;
  border-bottom: 1px black solid;
  padding: 5px;
}

.adoptionForm input:focus{
  outline:none;
}

.adoptionForm label{
  margin-top: 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.adoptButton{
  width: 170px;
  margin: 20px 0px;
  padding: 5px 10px;
  color: white;
  background-color: var(--darkpink);
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  align-self: center;
  border-radius: 15px;
}

.adoptButton:hover{
  color: var(--darkpink);
  border: 1px solid var(--darkpink);
  background-color: white;
}