<!DOCTYPE html>

<html lang="en" dir="ltr">

	<%- include('partials/head.ejs') %>

	<body>
	<!-------------header--------------->
	<%- include('partials/banner.ejs') %>

		<!---gallery banner---->
		<div class="galleryBanner">

			<div class="searchBar">
				<input type="search" placeholder="Search...">
    			<button type="submit"><i class="fas fa-search"></i></button>
    		</div>
        </div>



		<!-------------footer--------------->
		<%- include('partials/footer.ejs') %>


		<!--------------scripts-------------->
		<script src="js/userscript.js"></script>
		<script src="https://unpkg.com/scrollreveal"></script>
		<script src="js/sliderscript.js"></script>
		<script src="js/script.js"></script>
		<script src="js/hide-warning.js"></script>
	
		<script src="js/galleryscript.js"></script>
		
	</body>
</html>