<header id="header" class="header">
    <a href="/" class="logo"><img src="/pics/logo.png" id="logopic"></a>

    <div class="admin-searchBar">
        <input type="search" placeholder="Search...">
        <button type="submit"><i class="fas fa-search"></i></button>
    </div>


    <div class="user-account">
         <img src="/pics/stray1.jpg" alt="User Profile Picture" id="user-profile-pic" onclick="openPop()">
         <p class="username" onclick="openPop()"><%= user.username %></p>
    </div>

    <div class="bx bx-menu" id="menu-icon">
    </div>

    <!------------dropdown when profile is clicked-------------->
    <div id="profile-modal" class="profile-popup">
        <div class="profile-dropdown">
            <button class="profile" onclick="location.href='/admin/<%= user._id %>'">Profile</button>
            <button class="logout-button" onclick="location.href='/logout'">Log Out</button>
        </div>
    </div>

</header>